<div class="ui-g">
  <p-toast position="top-left"></p-toast>
  <div class="ui-g-12">
    <p-table [value]="clientes" [responsive]="true" [paginator]="true" [rows]="10"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="Registro {first} até {last} com total de {totalRecords} registros" >
            <ng-template pTemplate="caption">  
                <div class="ui-helper-clearfix" style="text-align: center">
                    Lista de clientes
                    <button type="button" pButton class="p-button-outlined" (click)="novo(f)"
                    pButton iconPos="left" style="float:right" icon="pi pi-plus" label="Adicionar"></button>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr style="text-align: center;">
                    <th>None</th>
                    <th>Email</th>
                    <th>Telefone</th>
                    <th style="width: 7em;">Opções</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData>
                <tr class="ui-selectable-row" style="text-align: center;">
                    <td>{{rowData.nome}}</td>
                    <td>{{rowData.email}}</td>
                    <td>{{rowData.telefone}}</td>
                    <td>
                        <button pButton pRipple type="button" (click)="getClientById(rowData.id)"
                        class="p-button-rounded p-button-outlined" icon="pi pi-pencil"></button>
                        <button pButton pRipple type="button" (click)="confirmarExclusao(rowData.id)"
                        class="p-button-rounded p-button-outlined" icon="pi pi-trash"></button>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td><h2>Sem dados para listar.</h2></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </ng-template>
        </p-table>
  </div>
</div>

<p-confirmDialog header="Alerta" icon="pi pi-exclamation-triangle" #confirmacao>
    <p-footer>
        <button class="p-button-outlined" type="button"
         icon="pi pi-check" label="Sim" (click)="confirmacao.accept()" pButton></button>
        <button type="button" icon="pi pi-times" label="Não" (click)="confirmacao.reject()" pButton></button>
    </p-footer>
</p-confirmDialog>

<p-dialog [header]="titleDisplay+' cliente'" [(visible)]="display" [modal]="true" [style]="{width: '350px'}">
    <form class="p-g-12" #f="ngForm" autocomplete="off" (ngSubmit)="gerenciarPersistencia()">
        <div class="p-g-12 p-fluid">
            <label>Nome</label>
            <input type="text" name="nome" [(ngModel)]="cliente.nome"  
            required maxlength="128" pInputText>     
        </div>
        <div class="p-g-12 p-fluid">
            <label>E-mail</label>
            <input type="text" name="email" [(ngModel)]="cliente.email"  
            required maxlength="64" pInputText>     
        </div>
        <div class="p-g-12 p-fluid">
            <label>Telefone</label>
            <p-inputMask mask="(99) 9999-9999" name="telefone" [(ngModel)]="cliente.telefone"
            required></p-inputMask>     
        </div>    
    </form>
    <ng-template pTemplate="footer">
        <button class="p-button-outlined"  icon="pi pi-check" (click)="gerenciarPersistencia()"
         [label]="titleDisplay" pButton></button>
        <p-button icon="pi pi-times" (click)="display=false" label="Cancelar"></p-button>
    </ng-template>
</p-dialog>